$palette-primary: #00ace8;
$palette-link: #00d1b2;
// $palette-link: #eb8a71;
// $palette-link: #81d5d4;
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Karla|Rubik+Mono+One");
$font-secondary: "Rubik Mono One", sans-serif;
$sans-serif: "Karla", sans-serif;
